<!-- Sign In section -->

<section class="sing_in_sec">
    <div class="container-fluid">
      <div class="row mx-0 px-5">
        <div class="col-lg-6 col-md-10 col-sm-12 mx-auto">
          <form class="custom_form" [formGroup]="mobileForm">
            <div class="form-row">

              <div class="form-group col-md-12 mb-4">
                <input type="text" class="form-control" id="inputNumber4" placeholder="Mobile"
                name="mobile4" id="email_id" formControlName="mobile"
                (blur)="validateFormField('mobile')" required>
              </div> 
              
            </div> 
            <button type="button" (click)="mobileUser()" class="btn btn-theme font-18 w-100 py-4 mt-2"
            [disabled]="!mobileForm.valid">Otp Generate</button>
           
          </form> 

          <div class="d-inline-block w-100 text-center my-3">
            <a href="javaScript:void(0)" class="text-dark font-500 font-18">
              Return to store
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Sign In section End -->

  <!-- Sign In section -->

<section class="sing_in_sec" *ngIf="otp">
  <div class="container-fluid">
    <div class="row mx-0 px-5">
      <div class="col-lg-6 col-md-10 col-sm-12 mx-auto">
        <form class="custom_form" [formGroup]="otpForm" >
          <div class="form-row">

            <div class="form-group col-md-12 mb-4">
              <input type="text" class="form-control" id="inputotp4" placeholder="Otp"
              name="otp4" id="email_id" formControlName="otp"
              (blur)="validateFormField('otp')" required>
            </div> 
            
          </div> 

          <button type="submit" [hidden]="procedeOpt"(click)="otpUser()" class="btn btn-theme font-18 w-100 py-4 mt-2"
          >Submit</button>
        </form>

        <div class="d-inline-block w-100 text-center my-3">
          <a href="javaScript:void(0)" class="text-dark font-500 font-18">
            Return to store
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sing_in_sec" *ngIf="password">
  <div class="container-fluid">
    <div class="row mx-0 px-5">
      <div class="col-lg-6 col-md-10 col-sm-12 mx-auto">
        <form class="custom_form" [formGroup]="passwordForm" >
          <div class="form-row">

            <div class="form-group col-md-12 mb-4">
              <input type="text" class="form-control" id="inputpassword4" placeholder="password"
              name="password4" id="email_id1" formControlName="password"
              (blur)="validateFormField('password')" required>
            </div>
            
            <div class="form-group col-md-12 mb-4">
              <input type="text" class="form-control" id="inputconfirmpassword4" placeholder="Confirm Password"
              name="confirm_password" id="email_id" formControlName="confirm_password"
              (blur)="validateFormField('confirm_password')" required>
            </div>

          </div> 
          <button type="button" (click)="passwordUser()" class="btn btn-theme font-18 w-100 py-4 mt-2"
          [disabled]="!otpForm.valid">Submit</button>
        </form> 

        <div class="d-inline-block w-100 text-center my-3">
          <a href="javaScript:void(0)" class="text-dark font-500 font-18">
            Return to store
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

